body {
  margin-bottom: 100px !important;
}

img {
  width: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

div.leftPanel {
  transform: scale(1);
  padding-bottom: 50em;
  overflow: auto !important;
  height: 1000px;
}