.preferencesTitle {
  color: white;
  text-align: center;
}

.preferencesContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.styleContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.25rem;
  margin: 0.35rem;
  cursor: grab;
}

.activeStyle {
  background-color: #532707;
}

.inactiveStyle {
  background-color: #2E1503;
}

.styleContainer img {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-right: 5px;
}