.mapRoot {
    border-top: 1px solid black;
}

.leftPanel {
    padding: 1rem;
    background-color: #2E1503;
    opacity: 1;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    color: white;
}

.leftPanel img {
    margin-bottom: 1rem;
}


.leftPanel .beerTag {
    display: flex;
    /* align-items: center; */
    margin-bottom: 1rem;
}

.leftPanel .beerTag .beerName {
    margin-right: 12px;
    line-height: 16px;
}

.leftPanel .beerTag .likeBtn {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}
.leftPanel .beerTag .likeBtn image {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.recommendedBtn img {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-right: 5px;
}